<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.e_learning.report.ReportMapper">

<!-- 1. 오늘 동일 신고 여부 확인 -->
<select id="existsTodayReport" parameterType="map" resultType="boolean">
SELECT CASE WHEN COUNT(*) > 0 THEN 1 ELSE 0 END
FROM report
WHERE reporter_id = #{reporterId}
<choose>
    <when test="type == 'post'">
        AND post_id2 = #{contentId}
    </when>
    <when test="type == 'course'">
        AND course_id = #{contentId}
    </when>
</choose>
AND TRUNC(reported_at) = TRUNC(SYSDATE)
</select>

<!-- 2. 신고 등록 -->
<insert id="insertReport" parameterType="kr.co.sist.e_learning.report.ReportDTO">
<selectKey keyProperty="reportId" order="BEFORE" resultType="int">
    SELECT report_seq.NEXTVAL FROM dual
</selectKey>

INSERT INTO report (
    report_id,
    post_id2,
    course_id,
    reporter_id,
    reason_text,
    reported_at,
    reported_user_id,
    action_status
) VALUES (
    #{reportId},
    #{postId2},
    #{courseId, jdbcType=INTEGER},
    #{reporterId},
    #{reporterCustomReasonTxt},
    #{reportedAt},
    #{reportedUserId},
    #{actionStatus}
)
</insert>

<!-- 3. 체크박스 신고 사유 저장 -->
<insert id="insertReportReasonUser" parameterType="map">
INSERT INTO report_reason_user (report_id, reason_chk)
VALUES
<foreach collection="reasonChkList" item="chk" separator=",">
    (#{reportId}, #{chk})
</foreach>
</insert>

</mapper>