<!-- templates/fragments/admin_sidebar.html -->
<div th:fragment="sidebar" class="sidebar">
  <h2><i class="fas fa-chart-line"></i> DashBoard</h2>
  <a href="#"><i class="fas fa-user"></i> Admin Account</a>
  <a href="#"><i class="fas fa-users"></i> Member</a>
  <a href="#"><i class="fas fa-graduation-cap"></i> Course</a>
  <a href="#"><i class="fas fa-bell"></i> Subscribe</a>
  <a href="#"><i class="fas fa-credit-card"></i> Payment</a>
  <a href="#"><i class="fas fa-comments"></i> Community</a>
  <a href="#"><i class="fas fa-exclamation-triangle"></i> Report</a>
  <a href="#"><i class="fas fa-headset"></i> Support</a>
</div>
