<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.sist.e_learning.mypage.MyPageMapper">

  <!-- 통계자료 -->
	<select id="selectMyPageSummary"
	        parameterType="long"
	        resultType="kr.co.sist.e_learning.mypage.MyPageDTO">
	  SELECT
	    u.user_seq AS userSeq,
	    u.nickname AS nickname,
	    u.email,
	    u.profile AS profile,
	    u.social_id AS socialId,
	    3 AS completedCourses,
	    120 AS totalStudyTime,
	    95.5 AS quizAccuracy,
	    '실버' AS donationLevel,
	    (
	      SELECT NVL(SUM(d.donation_amount), 0)
	      FROM donations d
	      JOIN cloud_wallet cw ON d.wallet_seq = cw.wallet_seq
	      WHERE cw.user_seq = u.user_seq
	    ) AS totalDonation
	  FROM users u
	  WHERE u.user_seq = #{userSeq}
	</select>


  <!-- 내 정보 조회 -->
  <select id="selectUserInfo"
          parameterType="long"
          resultType="kr.co.sist.e_learning.mypage.MyPageDTO">
    SELECT 
      user_seq AS userSeq,
      email,
      password,
      nickname,
      status,
      profile,
      social_id AS socialId,
      social_provider AS socialProvider
    FROM users
    WHERE user_seq = #{userSeq}
  </select>

  <!-- 프로필 경로 조회 -->
  <select id="selectProfilePath"
          parameterType="long"
          resultType="string">
    SELECT profile
    FROM users
    WHERE user_seq = #{userSeq}
  </select>

  <!-- 사용자 프로필 경로 업데이트 -->
  <update id="updateProfile"
          parameterType="map">
    UPDATE users
    SET profile = #{profile}
    WHERE user_seq = #{userSeq}
  </update>

  <!-- 총 후원액 합계 -->
  <select id="selectTotalDonationByUserSeq"
          parameterType="long"
          resultType="int">
    SELECT NVL(SUM(d.donation_amount), 0)
    FROM donations d
    JOIN cloud_wallet w ON d.wallet_seq = w.wallet_seq
    WHERE w.user_seq = #{userSeq}
  </select>

  <!-- 구독 목록 -->
  <select id="selectSubscriptions"
          parameterType="long"
          resultType="kr.co.sist.e_learning.mypage.SubscriptionDTO">
    SELECT
      s.instructor_id AS instructorId,
      u.nickname AS nickname,
      u.profile AS thumbnailPath
    FROM subscriptions s
    JOIN users u ON s.instructor_id = u.user_id
    WHERE s.follower_id = #{userSeq}
  </select>

  <!-- 구독 취소 -->
  <delete id="deleteSubscription"
          parameterType="map">
    DELETE FROM subscriptions
    WHERE follower_id = #{userSeq}
      AND instructor_id = #{instructorId}
  </delete>

</mapper>
