<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="e_learning.pse.QuizDAO">

<insert id="insertQuiz" parameterType="quizDTO">
INSERT INTO quiz (
	quiz_seq, quiz_list_seq, course_seq, correct_option,
	hint, question, quiz_order, upload_date, is_delete
) VALUES (
	#{quizSeq}, #{quizListSeq}, #{courseSeq}, #{correctOption},
	#{hint}, #{question}, #{quizOrder}, SYSDATE, 0
);
</insert>


</mapper>
